{% extends 'base.html' %}
{% block content %}
    <h2>Signing up new user</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error-msg">{{ field.errors }}</div>
                {% endif %}
                <span class="helptext">{{ field.help_text }}</span>
            </div>
        {% endfor %}
        <button type="submit" class="btn">Create account</button>
    </form>

    <p style="margin-top: 20px;">
        Have account? <a href="{% url 'login' %}">Login</a>.
    </p>
{% endblock %}