{% extends 'base.html' %}
{% block content %}
    <h2>Your Reservations</h2>
    {% if reservations %}
        <table>
            <thead>
                <tr>
                    <th>License plate</th>
                    <th>Spot</th>
                    <th>From</th>
                    <th>Till</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for res in reservations %}
                <tr>
                    <td>{{ res.license_plate }}</td>
                    <td>{{ res.spot }}</td>
                    <td>{{ res.start_time|date:"d.m.Y H:i" }}</td>
                    <td>{{ res.end_time|date:"d.m.Y H:i" }}</td>
                    <td>
                        <a href="{% url 'edit_reservation' res.id %}" class="btn btn-small">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No reservations yet.</p>
        <a href="{% url 'create_reservation' %}" class="btn">Make first reservation</a>
    {% endif %}
{% endblock %}