{% extends 'base.html' %}
{% block content %}
    <h2>Zone: {{ zone.name }}</h2>
    <p><strong>Price:</strong> {{ zone.price_per_hour }} $ per hour</p>
    <hr>
    <h3>Spots in zone:</h3>
    <ul>
        {% for spot in zone.spots.all %}
            <li>
                <strong>Spot {{ spot.spot_number }}</strong>
                {% if spot.is_disabled_friendly %}
                    <span style="color:blue">♿ (For disabled)</span>
                {% endif %}
            </li>
        {% empty %}
            <li>No available spots in zone.</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'home' %}" class="btn">Back to zone list</a>
{% endblock %}